#############
## FreeRPG
#############
*.cached.dts
console.log
.gitignore~
main.cs.in
runTests.cs
FreeRPG.torsion
tools/settings.xml
/.project
shaders/procedural/*
core/fonts/*
FreeRPG_DEBUG.exe
FreeRPG_DEBUG DLL.lib
FreeRPG_DEBUG DLL.exp
FreeRPG_DEBUG DLL.dll
FreeRPG.torsion.opt
